{{> errors}}
<p class="form-layout">Really delete the post named {{posts.title}}?</p>
<form action="/blogg/{{posts.id}}/delete" method="post" class="form-layout">
	<input type="hidden" name="_csrf" value={{csurfToken}}>
	<input type="submit" value="Delete it!" class="btn btn-primary">
</form>
