<h1 class="pageTitle">welcome</h1>

<div class="form-layout posts-border">
    <h4 class="form-layout">Hello!</h4>
    <p><p>This is my blog, where I write about my daily life and whatever life brings me. 
        All the things spanning from good to bad, you can find it
        <a href="/blogg">here</a>.</p></p>
    <p>Check out my FAQ and please leave a comment in my guestbook, where you also can ask me questions.</p>
    <p>Enjoy reading about my life 😃</p>
</div>