{{> errors}}

<form action="/blogg/{{posts.id}}/update" method="POST" class="form-layout">
	<h1>Update post</h1>
	<input type="hidden" name="_csrf" value={{csurfToken}}>

    <label class="form-label" for="input-example-1">Title</label>
    <input class="form-input formBorder" "input" type="text" name="title" value="{{posts.title}}" id="input-example-1">

    <label class="form-label" for="input-example-3">Post</label>
    <textarea class="form-input formBorder" "textarea" rows="12" id="input-example-3"rows="3" name="post">{{posts.post}}</textarea>

    <input type="submit" value="Update" class="btn btn-primary buttonMarginTop">
</form>